<div class="card p-3 mt-2">
  <h4>{{ formLabel }}</h4>

  <form [formGroup]="createOrUpdateForm">
    <div class="mt-2">
      <div class="form-label">Customer<span class="text-danger">(*)</span></div>
      <div class="form-input">
        <input
          type="text"
          placeholder="Enter name"
          pInputText
          formControlName="customerName"
        />
      </div>
    </div>

    <div class="mt-2">
      <div class="form-label">
        Booking time<span class="text-danger">(*)</span>
      </div>
      <div class="form-input">
        <div class="mt-2">
          <p-calendar formControlName="bookingTime" styleClass="w-100" [timeOnly]="true"></p-calendar>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <div class="form-label">Trip<span class="text-danger">(*)</span></div>
      <p-dropdown
        [options]="tripOption"
        formControlName="tripId"
        placeholder="Choose trip"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown>
    </div>

    <div class="mt-2">
      <div class="form-label">License plate<span class="text-danger">(*)</span></div>
      <p-dropdown
        [options]="carOption"
        formControlName="licensePlate"
        placeholder="Choose car"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown>
    </div>

    <div class="toolbar mt-5 ml-5">
      <button
        pButton
        type="button"
        icon="pi pi-angle-double-left"
        label="Back"
        class="p-button-info mr-1"
        (click)="back()"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-replay"
        label="Reset"
        class="p-button-warning mr-1"
        (click)="reset()"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        [label]="formLabel"
        class="p-button-success"
        [disabled]="createOrUpdateForm.invalid"
        (click)="submit()"
      ></button>
    </div>
  </form>
</div>
