<div class="wrapper h-100">
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <p>Car park manager</p>
      <li><a routerLink="/user/dashboard">Dashboard</a></li>
      <li>
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
          >Employee Manager</a
        >
        <ul class="list-unstyled">
          <li>
            <a routerLink="/user/employee/list">Employee list</a>
          </li>
          <li>
            <a routerLink="/user/employee/create">Add employee</a>
          </li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
          >Car manager</a
        >
        <ul class="list-unstyled">
          <li>
            <a routerLink="/user/car/list">Car list</a>
          </li>
          <li>
            <a routerLink="/user/car/create">Add Car</a>
          </li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
          >Parking lot manager</a
        >
        <ul class="list-unstyled">
          <li>
            <a routerLink="/user/parkinglot/list">Parking lot list</a>
          </li>
          <li>
            <a routerLink="/user/parkinglot/create">Add Parking lot</a>
          </li>
        </ul>
      </li>

      <li>
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
          >Ticket manager</a
        >
        <ul class="list-unstyled">
          <li>
            <span>
             <a routerLink="/user/ticket/list"><i class="pi pi-list mr-1"></i>Ticket list</a>
            </span>
          </li>
          <li>
            <a routerLink="/user/ticket/create"><i class="pi pi-plus mr-1"></i>Add Ticket</a>
          </li>
        </ul>
      </li>

      <li>
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
          >Trip manager</a
        >
        <ul class="list-unstyled">
          <li>
            <a routerLink="/user/trip/list">Trip list</a>
          </li>
          <li>
            <a routerLink="/user/trip/create">Add trip</a>
          </li>
        </ul>
      </li>

      <li>
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
          >Booking office manager</a
        >
        <ul class="list-unstyled">
          <li>
            <a routerLink="/user/booking-office/list">Booking office  list</a>
          </li>
          <li>
            <a routerLink="/user/booking-office/create">Add Booking office</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
</div>
